
# Configurações do Banco de Dados PostgreSQL (OLTP)
POSTGRES_DB=inflow_db
POSTGRES_USER=inflow_user
POSTGRES_PASSWORD=inflow_pass
POSTGRES_PORT=5433

# Parâmetros do Ingestor
INGESTION_YEAR=2024
LIMIT_SENADORES=0 # 0 para processar todos os senadores
